@font-face {
  font-family: "iconfont"; /* Project id 3389205 */
  src: url('iconfont.woff2?t=1652150973235') format('woff2'),
       url('iconfont.woff?t=1652150973235') format('woff'),
       url('iconfont.ttf?t=1652150973235') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou-copy:before {
  content: "\e667";
}

.icon-jiantou:before {
  content: "\e63c";
}

